body {
    background-color:#333;
    padding: 5px;
    margin: 0;
}

.game-layer-container {
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-layer-container canvas {
    image-rendering: pixelated;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    background-color: #85bdeb;
    position: fixed; 
    left: 0; 
    top: 0;
}

.game-layer-container canvas.layer-buffer      { z-index: 0; display: none; }
.game-layer-container canvas.layer-map-static  { z-index: 1; }
.game-layer-container canvas.layer-map-dynamic { z-index: 2; display: none; }
.game-layer-container canvas.layer-ui-static   { z-index: 3; display: none; }
.game-layer-container canvas.layer-ui-dynamic  { z-index: 4; display: none; }